body {
    position: relative;
}
#main {
    position: absolute;
    height: 98vh;
    margin-left: 17.5vw;
}
#k{
    position: absolute;
    width: 270px;
    left:13px;
    bottom:35px
}
#h{
    position: absolute;
    width: 300px;
    bottom:28px;
    left:285px;
}
#p{
    position: absolute;
    width: 290px;
    bottom:25px;
    left:600px;
}
#d{
    display: none;
    position: absolute;
    top: 7vh;
    left: 4vw;
    z-index: 2;
}
#kredit{
    display: none;
    position: absolute;
    top: 7vh;
    left: 4.5vw;
    z-index: 2;
}
#x{
    display: none;
    position: absolute;
    top: 10.5vh;
    left: 5.5vw;
    z-index: 3;
}
#c{
    position: absolute;
    top: 7vh;
    left:19vw;
    z-index: 1;
}
#cea{
    position: absolute;
    width:8vw;
    left:25vw;
    height: 7vh;
    background-color: #FFCCCC;
    top: 45vh;
    z-index: 1;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name{
    position: absolute;
    width:8vw;
    height: 7vh;
    background-color: #FFCCCC;
    top: 37vh;
    left:25vw;
    z-index: 1;
}
#nikud{
    position: absolute;
    height:7vh;
    background-color: #FFCCCC;
    top: 20vh;
    z-index: 1; 
    width:8vw;
    left:25vw;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}