body {
    position: relative;
}

#main {
    position: absolute;
    height: 100vh;
    margin-left: 17.5vw;
}

#background-image {
    position: absolute;
    height: 100vh;
    z-index: -1;
    color: #b95605;
}
#aa{
    position: absolute;
    left: 66.5vw;
    height: 100vh;
    width: 14vw;
    background-color:white;
    z-index: 100;
}