body {
    position: relative;
}
#main {
    position: absolute;
    height: 98vh;
    margin-left: 17.5vw;
}
#k{
    position: absolute;
    width: 270px;
    left:13px;
    bottom:35px
}
#h{
    position: absolute;
    width: 300px;
    bottom:28px;
    left:285px;
}
#p{
    position: absolute;
    width: 290px;
    bottom:25px;
    left:600px;
}
#d{
    display: none;
    position: absolute;
    top: 7vh;
    left: 4vw;
}
#kredit{
    display: none;
    position: absolute;
    top: 7vh;
    left: 4.5vw;
}
#x{
    display: none;
    position: absolute;
    top: 10.5vh;
    left: 5.5vw;
    z-index: 2;
}