body {
    position: relative;
}
#main {
    position: absolute;
    height: 98vh;
    margin-left: 17.5vw;
}
#ins{
    position: absolute;
    width: 300px;
    bottom:60px;
    left: 100px;;
}
#play{
    position: absolute;
    width: 290px;
    bottom:60px;
    left:500px;
}
#ins_page{
    display: none;
    position: absolute;
    top: 7vh;
    left: 4vw;
}
#x{
    display: none;
    position: absolute;
    top: 10.5vh;
    left: 5.5vw;
    z-index: 2;
}